* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    display: flex;
    padding-top: 50px;
}

#app {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.email-list {
    width: 500px;
    margin-top: 20px;
    padding: 10px 30px;
    
}

li {
    padding: 15px 0;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid black;
}

